<table class="table table-striped orders-table">
  <tr>
    <th>Order ID</th>
    <th>Order Date</th>
    <th>Order Time</th>
    <th>Status</th>
    <th>Change Status</th>
  </tr>
  <% @orders.each do |order| %>
    <%= content_tag :tr, id: order.id do -%>
      <td><%= link_to order.id, order_path(order.id) %></td>
      <td><%= order.formatted_date %></td>
      <td><%= order.formatted_hour %></td>
      <td><span class="label label-primary"><%= order.status %></span></td>
      <%= render partial: 'change_order_status', :locals => {:order => order}%>
    <% end %>
  <% end %>
</table>
