<% if @cart.empty? %>
  Your cart is empty!
<% else %>
  <h2>Your Cart</h2>
  <div class="row">
    <div class="col-lg-10">
      <% @cart.items_by_restaurant.each do |restaurant, items| %>
      <div class="category-box row" >
        <h3><%= restaurant.name %></h3>
        <% items.each do |item, quantity| %>
          <%= item.title %>, <%= item.description %>  Subtotal: <%= item.dollar_amount(quantity * item.unit_price) %> Quantity: <%= quantity %>
          <%= button_to "Add one more!", update_item_path(item_id: item.id) %>
          <%= button_to  "Remove from Cart", remove_item_path(item_id: item.id), data: { confirm: 'Are you sure you want to remove this item from your cart?' } %>
        <% end %>
      </div>
      <% end %>
    </div>
    Total: <%= number_to_currency(@cart.total_cost / 100) %>
    <% if current_user %>
      <%= button_to "Checkout", orders_path(user_id: current_user.id)%>
    <% else %>
      <%= button_to "Checkout", login_for_cart_path, method: :get %>
    <% end %>
  </div>
<% end %>
