<!-- <% render 'filter' %>
<div class="categories">
<% @categories.each do |category| %>
  <div class="category" data-name="<%= category.name %>">
    <h3><%= category.name %></h3>
    <dl>
      <dt>Menu</dt>
      <dd class="category_name"><%= category.name %></dd>
    </dl>
  </div>
<% end %>
</div> -->
<div class="col-lg-10 col-lg-offset-1 category-items">
  <% @categories.each do |category| %>
    <a name="<%= category.name %>"></a>
    <div class="category-box row">
      <h1>
        <a id="<%= category.name %>" class="anchor"></a>
        <%= category.name %>
      </h1>
      <% category.items.active.each do |item| %>
        <div class="item-box col-md-4">
          <div class="item-box-inner">
            <h4 class="item-title"><%= link_to item.title, item_path(item.id) %></h4>
            <br />
            <%= image_tag item.image.url(:menu_list), class: "menu_list_img" %>
            <br />
            <br />
            <div class="item-desc"><%= item.description %></div></br>
            <%= item.dollar_amount %></br>
            <%= button_to "Add to cart", cart_path(item_id: item.id) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>
