<div class="row">
  <div class="col-lg-3">
    <div id="floater">
      <h2><%= @restaurant.name %></h2>
      <div class="well sidebar-nav" >
      <ul class="nav nav-list">
        <% @categories.each do |category| %>
          <li><%= link_to category.name, restaurant_path(anchor: category.name) %></li>
        <% end %>
      </ul>
      </div>
        <% if current_user && current_user.has_restaurant_role?(@restaurant) %>
        <h2>For staff</h2>
         <div class="well sidebar-nav" >
           <ul class="nav nav-list">
             <li><%= link_to "View Restaurant Orders", admin_restaurant_path(@restaurant) %></li>
           </ul>
         </div>
       <% end %>
     </div>
</div>

<div class="col-lg-9  category-items">
  <% @categories.each do |category| %>
    <a name="<%= category.name %>"></a>
    <div class="category-box row">
      <h1>
        <a id="<%= category.name %>" class="anchor"></a>
        <%= category.name %>
      </h1>
      <% category.items.active.each do |item| %>
        <div class="item-box col-md-4">
          <div class="item-box-inner">
            <h4 class="item-title"><%= link_to item.title, restaurant_item_path(restaurant_slug: item.restaurant.slug, id: item.id) %></h4>
            <br />
            <%= image_tag item.image.url(:menu_list), class: "menu_list_img" %><br><br>
            <div class="item-desc"><%= item.description %></div>
            <%= item.dollar_amount %><br><br>
            <%= button_to "Add to cart", cart_path(item_id: item.id) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>
