<h2 class="admin-title">Edit Category</h2>
<div class="row">
  <div class="col-lg-3">
    <%= render 'admin/shared/owner_menu' %>
  </div>
  <div class="col-lg-9">
    <div class="col-md-8 col-md-offset-2 well">
      <%= form_for [:admin, @restaurant, @category] do |f| %>
        <%= f.label :name %></br>
        <%= f.text_field :name %></br>
        <p><%= f.submit "Update Category" %></p>
      <% end %>
    </div>
  </div>
</div>
